<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tiempo Muerto - {{@blog.title}}</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno.css"}}" />
    {{ghost_head}}
  </head>
  <body>
    <article>
      <section>
        <div class="astro-wrap">
          <a class="astronaut" href="#" title="return to base"></a>
        </div>
        <div class="mayday">
          <h1>
          ¡¡Tiempo Muerto!!
          <br>
          La página no existe.
          </h1>
          <h2>ERROR 404</h2>
          <hr class="divider short">
        </div>
        <div class="astro-options">
          <a id="safe-button" class="btn small" href="/#open">Página principal</a>
        </div>
      </section>
    </article>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/uno.js"}}"></script>
    {{> google-analytics}}
  </body>
</html>
